body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.article-carousel {
  margin: 20px;
}

.carousel {
    margin-top: 20px;
}

.img-article {
  max-width: 75%;
  height: auto;
}
.img-carousel {
  position: fixed;
  top: -100px;
  min-width: 1130px;
  height: auto;
}

.item {
    background: #333;
    text-align: center;
    height: 300px !important;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 42px;
  margin-bottom: 10px;
}

.navbar-right {
  margin-right: 0px;
}
