<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href="#">Today's Top Story</a></li>
      <li><a href="#">About Plump-Bustle</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  {{outlet}}
</div>
