<h1>Plump Bustle</h1>

<div class="row">
  <div class="col-md-6">
    <a href="#"><h4>Grandpa Pug!</h4><br>
    <img src="img/pug.jpg" alt="pug smoking a pipe and wearing a hat"></a>
    <a href="#"><h4>Milky Wool!</h4><br>
    <img src="img/goat.jpg" alt="a fluffy black goat baby"></a>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <a href="#"><h4>Hedgehog and Babies!</h4><br>
    <img src="img/hedgehog.jpg" alt="hedgehog mama"></a>
    <a href="#"><h4>Monkey Butt!</h4><br>
    <img src="img/monkey.jpg" alt="Monkey Butt"></a>
  </div>
</div>
