<div class="article-carousel">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
            <div class="active item">
              <img class="img-carousel" src="img/pug.jpg">
         		   <div class="carousel-caption">
                  {{#link-to 'pug-article'}}<h3>Grandpa Pug</h3>
                  <p>Puggy face is the cutest thing since sliced bread!</p>{{/link-to}}
                </div>
            </div>
            <div class="item">
              <img class="img-carousel" src="img/goat.jpg">
                <div class="carousel-caption">
                  {{#link-to 'goat-article'}}<h3>Milky Wool</h3>
                  <p>Softest goat in the world</p>{{/link-to}}
                </div>
            </div>
            <div class="item">
              <img class="img-carousel" src="img/hedgehog.jpg">
                <div class="carousel-caption">
                  {{#link-to 'hedgehog-article'}}<h3>Baby Hedgehogs</h3>
                  <p>They're like little white pinecones omg</p>{{/link-to}}
                </div>
            </div>
            <div class="item">
              <img class="img-carousel" src="img/monkey.jpg">
                <div class="carousel-caption">
                  {{#link-to 'monkey-article'}}<h3>Monkey Butt</h3>
                  <p>Even baby monkeys know hot tubs are legit!</p>{{/link-to}}
                </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>
