<div class="row">
  <div class="col-md-12">
    <h2>Milky Wool</h2>
    <h3>Softest Goat in the world!</h3>
    <img src="img/goat.jpg" alt="goat">
    <p>But I dare anyone to debate me on things.   Major League 3? I don't
    know. I haven't read it. I don't care. And we are and, I don't know,
    winning?... Anyone? .... (long silence) .... Rhymes with winning? ....
    Anyone? .... Yeah, that would be us. And I was getting a tattoo during the
    death from above. And it's the banner from the death card that Kilgore is
    throwing on his victims.</p>

    <p>And the gratitude I get is this charlatan chose not to do his job, which
    is to WRITE. Clearly, someone who believes he is above the law. Well,
    you've been warned, dude. Bring it.  The only thing I'm addicted to right
    now is winning. You know? This bootleg cult - you know, arrogantly referred
    to as 'Alcoholics Anonymous' - now supports a 5% success rate. My success
    rate is 100%. Do the math! Yeah. I did. Because he's nothing shy of that.
    And it is his job to go out there and embarrass people. Embarrass them. Not
    just beat them, but embarrass them in the process. I am every character in
    between, save for that little weirdo with his guts strapped in, begging for
    water. That's not me.</p>

    <p>They will lose the rest of their lives as they think about me and my
    life for the rest of their lives. So ... it's ... there's no ... again,
    bring me a challenge, somebody. Bring me a frickin' challenge. Because, you
    know ... it just ain't there. WINNING! So ... you know ... within that is
    tremendous focus, and tremendous clarity, and tremendous peace. Well, yeah.
    But I was gonna tell you, I'm tired of being told like, 'Oh, you can't talk
    about that. You can't talk about that.' Bull s.h.i.t. ... uh .... 100%. You
    know, here's your first pee test. Next one goes in your mouth. But like in
    baseball, the scoreboard doesn't lie. Never has. So what we all have is a
    marriage of the heart ... of the hearts. I am every character in between,
    save for that little weirdo with his guts strapped in, begging for water.
    That's not me.</p>
  </div>
</div>
