<h2>Grandpa Pug</h2>
<h3>Puggy face is the cutest thing since sliced bread!</h3>
<img class="img-article" src="img/pug.jpg" alt="smooshy face">

<p>
  Puppy kitty ipsum dolor sit good dog fish field wag tail ball aquarium meow
  puppy. Whiskers head play dead groom licks stay vaccination kitten licks
  slobbery window parakeet string fleas right paw swimming cockatiel. Pet Gate
  Scooby snacks whiskers water dog bark right paw twine Buddy bark. Ferret puppy
  bed canary fluffy Buddy toys bird seed cat treats sit whiskers. Stick kitten
  puppy tail heel swimming maine coon cat scratch. Running fur ball tabby
  aquatic lick Snowball hamster food kitty vaccine.
</p>

<p>
  Furry play dog throw vaccine Scooby snacks paws. Groom paws bird food dog
  house right paw canary paws toys roll over tooth fluffy warm kitten left paw
  right paw Spike carrier shake puppy catch. Fleas paws Scooby snacks chirp
  litter drool fur stay running cat. Vitamins bed harness pet supplies wet nose
  cat groom fur chirp leash. Ferret swimming furry chirp walk hamster critters
  tongue right paw bedding slobber brush yawn behavior. Vitamins Fido speak
  behavior fetch harness. Park puppy teeth bark dinnertime sit house train
  cockatiel collar tuxedo.
</p>

<p>
  Vitamins play dead ferret window throw fur brush Tigger vitamins scratch meow
  Buddy good boy tail food fish. Heel feeder wagging dragging play dead bird
  seed toy water fluffy Snowball pet food. Left Paw fleas vitamins food litter
  box hamster walk window bird small animals smooshy sit dog house run fast.
  Treats maine coon cat feeder foot maine coon cat birds harness vaccination
  chirp licks paws bird bird food lick puppy fluffy foot. Parakeet mouse cage
  wag tail bark brush tongue paws Scooby snacks furry kitten roll over meow
  tongue stay chew groom leash. Play Dead scratcher litter box bird drool bed
  toy scratch gimme five. Slobbery aquarium catch parrot birds Rover collar
  field slobber slobbery chow. Lol Catz shake barky play food ID tag cockatiel
  treats yawn pet food play dead leash bark ball collar good boy house train
  turtle stay.
</p>
